div.content__wrapper
	div.explore
		a.icon-burger-close(href='#!')
		h2 Explore
		nav
			ul
				li
					a.icon-cat-1(href='#!') New In
				li
					a.icon-cat-2(href='#!') Clothing
				li
					a.icon-cat-3(href='#!') Shoes
				li
					a.icon-cat-4(href='#!') Accessories
				li
					a.icon-cat-5(href='#!') Activewear
				li
					a.icon-cat-6(href='#!') Gifts and Living
				li
					a.icon-cat-7(href='#!') Inspiration
			a.icon-cat-8(href='#!') Help Center
	section.content
		div.content__block
			div.content__post.horizontal
				a(href='#!')
					img(src="./img/action1.jpg")
			div.content__post.horizontal
				a(href='#!')
					img(src="./img/action2.jpg")
		div.content__post
			div.heart
			a(href='#!')
				img(src="./img/action3.jpg")
		div.content__post
			div.heart
			a(href='#!')
				img(src="./img/action4.jpg")
		div.content__block
			div.content__post.horizontal
				a(href='#!')
					img(src="./img/action7.jpg")
			div.content__post.horizontal
				a(href='#!')
					img(src="./img/action8.jpg")
		div.content__post
			div.heart
			a(href='#!')
				img(src="./img/action5.jpg")
		div.content__post
			div.heart
			a(href='#!')
				img(src="./img/action5.jpg")
