header
	div.menu
		div.menu__main
			a.icon-burger(href='#!')
			a.logo(href='#!')
		nav
			ul
				li
					a.icon-search(href='#!')
				li
					a.icon-basket(href='#!')
				li
					a.icon-cabinet(href='#!')
	div.menu2
		nav
			ul
				li
					a(href='#!') products
				li
					a(href='#!') story
				li
					a(href='#!') production
				li
					a(href='#!') packaging